@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap");

.topCampaign {
  font-family: Nunito;
  display: flex;
  margin: 72px 121px;

  .campaign {
    padding-right: 50px;

    h1 {
      padding: 20px 0;
    }

    img {
      width: 800px;
      height: 500px;
      border-radius: 4px 4px 0px 0px;
    }
  }
  .setting {
    display: flex;

    .dropdownCampaign {
      position: relative;
      left: 890px;
      top: 42px;
    }
  }
  .cardCampaign {
    margin-top: 85px;
    padding-left: 20px;
    width: 417px;
    height: 500px;
    border: 1px solid #f1ede4;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px;

    h3 {
      color: #a43f3c;
      padding: 10px 0;
    }

    p {
      padding-bottom: 10px;
      color: #9f9f9f;
    }

    .goal {
      color: black;
    }

    .cardProfile {
      display: flex;

      img {
        width: 50px;
        height: 50px;
      }

      .cardTitleProfile {
        padding-left: 12px;

        h4 {
          padding: 0 10px;
        }
        a {
          text-decoration: none;
          p {
            padding-left: 10px;
            color: #9f9f9f;
          }
        }
      }
    }

    .smallCard {
      display: flex;
      padding-top: 20px;

      .listCard {
        margin-right: 30px;
        padding: 10px 15px;
        width: 70px;
        height: 80px;
        border: 1px solid #f4f4f4;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 4px;

        h4 {
          color: #1d94a8;
          font-size: 30px;
          padding: 0 10px;
        }

        p {
          padding-top: 13.5px;
          color: #9f9f9f;
        }
      }
    }

    .buttonCard {
      padding-top: 30px;
      padding-right: 30px;
      display: flex;
      flex-direction: column;

      .buttonUp {
        width: 369px;
        height: 44px;
        background: #ffffff;
        border: 1px solid #1d94a8;
        box-sizing: border-box;
        border-radius: 3px;
        color: #1d94a8;
        margin-bottom: 10px;
        font-weight: bold;
      }

      .buttonUp:hover {
        cursor: pointer;
        color: #ffffff;
        background: #1d94a8;
      }

      .buttonDown {
        width: 369px;
        height: 44px;
        background: #a43f3c;
        border: 1px solid #a43f3c;
        box-sizing: border-box;
        border-radius: 3px;
        color: #ffffff;
        font-weight: bold;
      }

      .buttonDown:hover {
        cursor: pointer;
        background: #ffffff;
        color: #cf2424;
      }
    }
  }
}

.linkCardBottom {
  margin: 72px 122px;
  font-family: Nunito;
  a {
    font-size: 20px;
    color: black;
  }
  .cardBottom {
    display: flex;
    justify-content: space-between;
  }
}
